<main>
	<% if current_user %>
	<div class="container">
		<div class="row">
			<div class="col m4">
				<%= render "layouts/user_info" %>
		  </div>
			<div class="col m8">
				<div class="row">
					<%= render "layouts/post_tweet" %>
				</div>
				<%= render "layouts/home_timeline" %>
			</div>
		</div>
	</div>
	<% else %>
		<%= render "layouts/guest_home" %>
	<% end %>
</main>
