<div class="col-md-12" align="center" id="flash_notice">
	<br>
	<%= flash_messages %>
</div>
<div class="col-md-12">
 <div class="well text-center">
   <h3 class="page-header">Welcome to my unimaginatively named Twitter clone</h3>
 </div>
</div>
